<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:props="http://www.autonavi.com/schema/configCenter"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context-4.0.xsd  
        http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.autonavi.com/schema/configCenter
        http://www.autonavi.com/schema/configCenter/props-cc.xsd">
        
   <props:config/>
     
    <bean id="zooKeeperProp" class="autonavi.online.framework.support.zookeeper.ZooKeeperProp">
	<property name="address">
<!-- 	<value>10.19.3.158:2181,10.19.3.158:2182,10.19.3.158:2183</value> -->
		<value>10.19.2.10:2181,10.19.2.10:2182,10.19.2.10:2183</value> 
	</property>
	<property name="sessionTimeout">
	<value>1000</value>
	</property>
	<property name="projectName">
	<value>admin</value>
	</property>
	<property name="password">
	<value>93f0cb0614</value>
	</property>
	</bean>
	
	<bean id="configCenterFromZooKeeper" class="autonavi.online.framework.support.zookeeper.ConfigCenterFromZooKeeper">
	</bean>
	
	<bean id="getPropertiesDataFromZooKeeper" class="autonavi.online.framework.support.zookeeper.GetPropertiesDataFromZooKeeper">
	</bean>
	
    <bean id="zookeeperInit"
		class="autonavi.online.framework.configcenter.util.ZookeeperInit">
		<property name="zooKeeperProp">
		<ref bean="zooKeeperProp"/>
		</property>
	</bean>

	<context:annotation-config />
	<context:component-scan base-package="autonavi.online.framework.configcenter.*">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="aspectj"
			expression="com.gd.app.security.edit..*" />
	</context:component-scan>
	

</beans>