<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:props="http://www.autonavi.com/schema/configCenter"
	xmlns:shard-cc="http://www.autonavi.com/schema/shardConfigCenter"
	xmlns:shard="http://www.autonavi.com/schema/shard"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context-3.0.xsd  
        http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.autonavi.com/schema/configCenter
    	http://www.autonavi.com/schema/configCenter/props-cc.xsd
    	http://www.autonavi.com/schema/shardConfigCenter
    	http://www.autonavi.com/schema/shardConfigCenter/shard-cc.xsd
    	http://www.autonavi.com/schema/shard
    	http://www.autonavi.com/schema/shard/aof-shard.xsd">

	<context:annotation-config />

	<!-- 使用spring管理DAO -->
	<context:component-scan base-package="autonavi.online.framework.test"></context:component-scan>

	<!-- 初始化配置文件 -->
	<shard-cc:config>
		<shard-cc:info configJson="/aof-shard.json" />
	</shard-cc:config>

	<!-- DAO管理（采用接口+XML）。你依然可以使用注解方式的DAO，但那样做可能会影响系统性能 -->
	<shard:dao>
		<shard:scan base-package="autonavi.online.framework.test.crud">
		</shard:scan>
	</shard:dao>

</beans>