<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout charset="gbk" pattern="%d{HH:mm:ss.SSS} [%t] [%F:%L] %-5level %logger{36} - %msg%n" />
		</Console>

	</Appenders>
	<Loggers>
<!-- 	   <logger name="autonavi.online.framework" level="info"> -->
<!-- 			<AppenderRef ref="Console" /> -->
<!-- 		</logger> -->
	
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>

